<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<title>Design Agency</title>
     
	 <meta name="keywords" content="free css template, Design Agency, XHTML, CSS" />
<meta name="description" content="Design Agency - Free CSS Template, Download XHTML CSS Layout" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<link href="animation.css" rel="stylesheet" type="text/css" />
	 <script src="js/angular.min.js"></script>
	 <script src="js/protractor.js"></script>
	 <script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
	 </head>
	<body ng-app="">
	<div class="templatemo_container">
	<header id="templatemo_header" ng-include="'partials/structure/header.html'"></header>
	
    	
        <div id="templatemo_content_area">
        
        	<div id="templatemo_left">
            
            	<div class="templaetmo_section_1">
                	<ul class="sub_menu">
                    	<li><a href="#" class="current">Latest News</a></li>          
                        <li><a href="#">Our Clients</a></li>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Our Awards</a></li>
                    </ul>
                </div>
            
            </div>
        
        	<div id="templatemo_right">
            	<h1>Free XHTML CSS Template</h1>
                <p>This is a free website templatee. You may download, modify and use this layout for your personal or commercial websites.Credit goes to  Smashing Magazing for menu icons.</p>
              <p>Donec nunc nisi, convallis eu euismod sit amet, eleifend in lectus. Pellentesque aliquam posuer luctusco re tortor, non rutrum quam euismod tempus. Suspendisse potenr luctus condimentumti. Aliquam pulvinar luctus condimentumr luctus condimentum. Integer pulvinar ligulaiteSvarius tincidunt iaculis quam cursus. Nam tincidunt lor luctus condimentumbortis leo, a laoreet velit im Etiama nisl. </p> 
              <p>Rcilisis accumsan luctus ac bibendum a, sodales ultrr luctus condimentumicies turpis. Aenean pulvinar. Nam nec tellus sem. Suspendisse vr luctus condimentumestibulum pulvinar nulla non nc laoreet varius elit et feugiat fendum euismod. Aliquam pulvinar luctus cond
imentumr. </p>
          </div>
            
          <div class="templatemo_h_line"></div>
            
            <div class="templatemo_section_2 left">
            	<img src="images/templatemo_img_1.jpg" alt="hat" />
                <h3>SEO Services</h3>
            	<p>Fen dum euismod. Aliquam pulvinar luctus cond
imen tumr luctus condi ment Oprum. Integer pulvinai.</p>

				<p>Svarius tincidunt iaculis quam cursus. Nam tinci lor luctus condi mentum bortis leo, a laoreet .</p>
            </div>
            
            <div class="templatemo_section_2">
           	  <img src="images/templatemo_img_2.jpg" alt="newspaper" />
                <h3>Special Packages</h3>
            	<p>Do nec nunc nisi, convallis eu euismod sit amesi
ele if end in lectus. Pell ent esque ali quam pos uerl</p>

				<p>Re tortor, non rutrum quam euismod tempus. its
spendisse potenr luctus condimentumti. </p>
            </div>
            
            <div class="cleaner"></div>
      </div>
		
</div><!--  End of container --> 
    
    <div id="templatemo_bottom_section">
    	<div class="templatemo_container">
   	  <div class="templatemo_section_2 left">
                <h2>Online Marketing</h2>
            	<p>Mauris congue felis at nisi. Donec felis. Pellentesque leo lacus, rhoncus nec, consequat ac, ullamcorper nec, orci. Etiam sit amet turpis. Nam sodales, pede vel dapibus lobortis, ipsum diam molestie risus, a vulputate risus nisl pulvinar lacus. <a href="#"><strong>Read More</strong></a></p>
		</div>
            
            <div class="templatemo_section_2">
           	  <h2>Donec Nunc Nislamdse</h2>
				<p>Aliquam erat arcu, euismod et, dignissim in, interdum ac, est. Mauris congue felis at nisi. Donec enim enim, imperdiet quis, mollis a, elementum a, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et nunc commodo ante ornare imperdiet. <a href="#"><strong>Read More</strong></a></p>
		  </div>
            
      		
             Contact: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br />
<div class="check-element animate-show-hide" ng-show="checked">
  Name-Mr.Ram Ph-9879856311 Email-ram12@gmail.com
</div>
            <div class="cleaner"></div>
    	</div>   <!--  End of container --> 
    </div> <!--  End of templatemo_bottom_section --> 
	<footer id="templatemo_footer" ng-include="'partials/structure/footer.html'"></footer>

	</body>
</html>