          <div id="templatemo_search">
              <form action="#" method="post">

                	<input type="text" value="Enter keyword here..." name="q" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                	<input type="submit" name="Search" value="Search" alt="Search" id="searchbutton" title="Search" />
              </form>
           	</div>
            <div class="cleaner"></div>
			<div id="templatemo_menu">
				<ul>
					<li class="current home"><a href="#">Home</a></li>
                    <li class="about"><a href="#">Portfolio</a></li>
   				  	<li class="service"><a href="#">About</a></li>
   					<li class="contact"><a href="#">Contact</a></li>
				</ul>
			</div>
        